* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f8ecde;
  --text-color: #352e28;
  --begin-line-color: #3fa55b;
  --end-line-color: #b3ac49;

  --header-background-color: #fec260;
  --button-background-color: #d1512c;
  --table-header-background-color: #f8f9fb;
  --shadow-header: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --font-header: "Pacifico", cursive;
}
body {
  background-color: rgb(248, 236, 222);
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  font-family: var(--font-header);
  position: relative;
  width: fit-content;
  margin: auto;
}
h1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 50%;
  background-color: var(--header-background-color);
  z-index: -1;
}
h1:hover::after {
  top: 20%;
  transition: 500ms all;
}
.head-add h2 {
  font-size: 1.4rem;
  background-image: linear-gradient(
    to right,
    var(--begin-line-color),
    var(--end-line-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.head-add {
  background-color: linear-gradient(
    var(--begin-line-color),
    var(--end-line-color)
  );
  font-size: 2rem;
  text-align: center;
}

.inner {
  border-bottom: 2px dashed var(--text-color);
  border-top: 2px dashed var(--text-color);


  padding: 3rem;
}
.sumbit-btn {
  background-color: var(--button-background-color);
  color: white;


  cursor: pointer;
}

.btn:hover {
  background-color: #de461c;
  color: white;
}
.btn:focus {
  border: 1px solid var(--text-color);
}
#bookmark-list {
  background-color: var(--table-header-background-color) !important;
  width: 70%;
  margin: auto;
  box-shadow: var(--shadow-header);
}
